//
// Color system
//
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #B6B6B6 !default;
$gray-500: #979797 !default;
$gray-600: #686868 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue:    #4A90E2;
$indigo:  #5D38DB ;
$purple:  #8954BA ;
$green:   #78CA3C ;
$pink:    #EF8888 ;
$yellow:  #EED68A ;
$white:   #fff;
$cyan:    #F5F6FA;

$primary:       $blue;
$secondary:     $gray-600;
$info:          $purple;
$success:       $green;
$warning:       $yellow;
$danger:        $pink;
$light:         $gray-300;
$lighter:       $gray-400;
$dark:          $gray-600;
$super-light:   $gray-200;
$ultra-light:   $gray-100;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(
  (
    "primary":      $primary,
    "secondary":    $secondary,
    "success":      $success,
    "info":         $info,
    "warning":      $warning,
    "danger":       $danger,
    "light":        $light,
    "dark":         $dark,
    "super-light":  $super-light,
    "ultra-light":  $ultra-light,
    "lighter":      $lighter
  ),
  $theme-colors
);

// Body
$body-bg: white;
$body-color: map-get($theme-colors, "dark");

// Links
$link-color:                map-get($theme-colors, "info");
$link-decoration:           none;
$link-hover-color:          darken($link-color, 15%);
$link-hover-decoration:     none;

// Fonts
//
// Font, line-height, and color for body text, headings, and more.
$font-family-base:  'Open Sans', sans-serif;

// Components
//
// Define common padding and border radius sizes and more.
$border-radius:               .05rem;
$border-radius-lg:            .05rem;
$border-radius-sm:            .05rem;

// Forms
$input-placeholder-color: $gray-400;

$label-margin-bottom: 0;

$input-padding-y: 0;
$input-padding-x: 0;

$input-padding-y-sm: 0;
$input-padding-x-sm: 0;

$input-padding-y-lg: 0;
$input-padding-x-lg: 0;

$input-disabled-bg: $gray-100;

$input-height-border: 0.1em;

$input-focus-border-color: map-get($theme-colors, "primary");
$input-focus-color: map-get($theme-colors, "primary");
$input-focus-box-shadow: none;

$custom-control-indicator-bg:           $white;
$custom-control-indicator-box-shadow:   0 0 0 1px $body-bg, map-get($theme-colors, "primary");

$custom-checkbox-indicator-border-radius: 0.1rem;
$custom-control-indicator-focus-box-shadow: none;

// Cards
$card-border-width: 0;